[data-rehype-pretty-code-fragment] {
  @apply rounded-xl bg-[#24292e];
}
[data-rehype-pretty-code-fragment] pre {
  @apply border-0;
}

[data-rehype-pretty-code-fragment] code {
  @apply text-black grid min-w-full break-words rounded-none border-0 bg-transparent p-2 text-sm selection:bg-[#52525b80] dark:selection:bg-[#52525b80] dark:selection:text-inherit;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-300 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-300 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-[0.8rem] font-mono text-white select-none text-opacity-70;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-chars] {
  border-radius: 0.25rem;
  background-color: #52525b80;
  box-shadow: 0 0 0 4px #52525b80;
}
